/* FONT_FAMILY */
@font-face {
    font-family: 'App Black';
    src: url(../fonts/AirbnbCereal-Black.ttf) format("truetype")
}

@font-face {
    font-family: 'App Bold';
    src: url(../fonts/AirbnbCereal-Bold.ttf) format("truetype")
}

@font-face {
    font-family: 'App ExtraBold';
    src: url(../fonts/AirbnbCereal-ExtraBold.ttf) format("truetype")
}

@font-face {
    font-family: 'App Light';
    src: url(../fonts/AirbnbCereal-Light.ttf) format("truetype")
}

@font-face {
    font-family: 'App Medium';
    src: url(../fonts/AirbnbCereal-Medium.ttf) format("truetype")
}

@font-face {
    font-family: 'App Regular';
    src: url(../fonts/AirbnbCereal-Regular.ttf) format("truetype")
}

/* DEFAULT VALUES */

:root {
    --text-primary: #000;
    --text-accent: #0068ff;
    --text-light: #868686;

    --font-family: 'App Medium', sans-serif;

    --font-light: 300;
    --font-regular: 400;
    --font-bold: 600;

    font-size: 14px;
}

/* FONT WEIGHTS */

.font-extra-bold {
    font-family: 'App ExtraBold', sans-serif;
}

.font-light {
    font-family: 'App Light', sans-serif;
}

.text-light {
    color: var(--text-light);
}


.display-1 {
    font-family: 'App Light', sans-serif;
    font-size: 5rem;
}

.text-accent {
    color: var(--text-accent);
    fill: var(--text-accent);
}

/* FONT WEIGHTS END */

/* LAYOUT STARTS HERE */

.main-container {
    margin: auto 10rem;
}

/* LAYOUT ENDS HERE */

/* ROOT STYLES */

*, *::before, *::after {
    box-sizing: border-box;
}


html, body {
    font-family: var(--font-family);
    font-weight: var(--font-regular);

    margin: 0;
    padding: 0;

    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-family: 'App Medium', sans-serif;
    line-height: 1.2;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1.25rem;
}

h6 {
    font-size: 1rem;
}


p {
    margin-top: 0;
    margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
    text-decoration: underline;
    text-decoration: underline dotted;
    cursor: help;
    border-bottom: 0;
    text-decoration-skip-ink: none;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
    padding: 0;
    list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

blockquote {
    margin: 0 0 1rem;
}

b,
strong {
    font-weight: bold;
}

small {
    font-size: 80%;
}

figure {
    margin: 0 0 1rem;
}

img {
    vertical-align: middle;
    border-style: none;
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

a {
    color: var(--text-primary);
    background-color: transparent;
    transition: color 0.5s ease;
    text-decoration: none;
}

a:hover {
    color: var(--text-accent);
}

button {
    outline: none;
    border: none;
    font-family: 'App Medium', sans-serif;
    cursor: pointer;
}

img {
    vertical-align: middle;
    border-style: none;
}

/**
    UTILITIES
 */

.highlighted {
    color: var(--text-accent);
}

/**
HEADER STYLES
 */

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 0;
}

header .logo-section {
    font-weight: var(--font-light);
    font-size: 36px;
}

header .navigation-section {
    align-items: center;
    display: grid;
    justify-content: end;
}

header .navigation-section nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header .navigation-section nav ul li {
    display: inline-flex;
    font-size: 1.25rem;
    margin-left: 3rem;
}


/**
LANDING AREA
 */

.landing-area {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    font-weight: var(--font-light);
    height: calc(100vh - 120px);
}

.landing-area .landing-area--jumbotron {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
}

.btn-cta {
    background: linear-gradient(to right, rgb(57, 106, 252), rgb(41, 72, 255));
    padding: 1.25rem 0;
    width: 175px;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 1.5rem;
}

.landing-area .landing-area--illustration {
    display: flex;
    justify-content: flex-end;
}

/* METHODOLOGY */

.methodology {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    height: 40vh;
}

.methodology .step-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    /*border: 1px solid;*/
    height: 350px;
    justify-content: space-evenly;
}

.methodology .step-item .item-graphic {
    font-size: 5rem;
    color: var(--text-accent);
}

.methodology .step-item .item-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.methodology .step-item .item-content .item-title {
    margin-bottom: 1rem;
}

.methodology .step-item .item-content .item-description {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1.5;
    color: var(--text-light);
}

/* METHODOLOGY ENDS HERE */

/* DOMAIN */

.domains {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2.5rem;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    height: 30vh;
}

.card {
    position: relative;
    box-sizing: border-box;
    padding: 2rem;
    background-color: #f2f2f2;
    border-radius: 1.5rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--text-accent);
    color: #fff;
    width: 95px;
    height: 95px;
    border-radius: 50%;
    font-size: 3rem;
    font-weight: 700;
    transition: 0.5s;
}

.card:hover .circle {
    box-shadow: 0 0 0 305px var(--text-accent);
}

.card .info {
    position: relative;
    z-index: 1;
    transition: .5s;
}

.card:hover .info {
    color: #fff;
}

/* DOMAIN ENDS HERE */

/* HERO SECTION */

.hero-section {
    background: linear-gradient(to bottom right, rgb(5, 117, 230), rgb(2, 27, 121));
    padding: 5rem;
    border-radius: 1.5rem;
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    margin: 5rem 0 10rem 0;
}

.hero-section .btn-hero {
    background: transparent;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 1.5rem;
}

/*
************************* ABOUT PAGE *************************************************/

.introduction {
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.introduction:after {
    content: "think \A design \A develop \A innovate \A celebrate";
    position: absolute;
    color: rgb(187, 182, 182);
    right: 10rem;
    z-index: -1;
    white-space: pre;
    text-align: right;
    font-size: 7.5rem;
}

.introduction-desc {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    width: 60%;
}


/* SKILLS */

.skills {
    display: grid;
    grid-gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 5rem;
}

.skills .skill-item {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 3.75rem 0;
}

.skills .skill-item .skill-name {
    align-items: baseline;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.skills .skill-item .skill-name h3 {
    color: var(--text-light);
    text-transform: uppercase;
}

.skills .skill-item .skill-description h2 {
    text-align: center;
    margin: 0;
}

.skills .skill-item .skill-description ul {

}

.skills .skill-item .skill-description ul li {
    font-size: x-large;

}

.skills .skill-item .skill-description ul li:last-child:after {
    content: '';
}

/* SKILL ENDS HER */

/**************************** ABOUT ENDS HERE ******************************************/


/* FOOTER STYLES */

footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    margin-bottom: 5rem;
}

footer h2, footer h3, footer h4 {
    margin-bottom: 1.85rem;
}

footer ul.contact-info-list {
    list-style: none;
}

footer ul.contact-info-list li, footer ul.navigation-links li {
    font-size: 1.25rem;
    margin-bottom: 1rem;
}


footer .social-links-grid {
    list-style: none;
    display: flex;
}

footer .social-links-grid li {
    flex: 1;
    display: inline-flex;
    margin: 0 1rem;
}

footer .social-links-grid li:first-child {
    margin-left: 0;
}

footer .social-links-grid li a {
    flex: 1;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    grid-gap: 1rem;
    font-weight: bold;
    font-size: x-large;
    height: 120px;

    background-color: #f2f2f2;
    border-radius: 1.5rem;

    transition: background-color 0.5s ease;
}

footer .social-links-grid li a:hover {
    color: #fff;
    /*background-color: var(--text-accent);*/
}

footer .social-links-grid li a.linkedin:hover {
    background-color: #0077b5;
}

footer .social-links-grid li a.github:hover {
    background: #24292e;
}